############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

############################
# Виртуальные окружения
############################
.venv/
venv/
env/

############################
# PyTorch Lightning
############################
lightning_logs/
*.ckpt

############################
# MLflow
############################
mlruns/
mlflow.db

############################
# ONNX / TensorRT
############################
*.onnx
*.engine
*.plan

############################
# DVC
############################
.dvc/cache/
.dvc/tmp/

# данные под DVC
data/raw/
data/processed/

############################
# Модели и артефакты
############################
models/
artifacts/
plots/

############################
# IDE
############################
.idea/
.vscode/

############################
# OS
############################
.DS_Store
Thumbs.db
